html {
  background-color: #58148E; /* dark purple */
}

.header {
  padding: 40px;
  text-align: center;
  background: #EABFFA; /* pinkish purple*/
  color: black
}

.header h1 {
  font-size: 40px;
} 

p {
  font-size: 20px;
  text-align: left; 
}

h3 {
  font-size: 24px;
  text-align: left;
}

h4 {
  font-size: 20px;
}

/* style for single lines of example code */ 
code {
  color: #58148E;
  padding-left: 51px;
  font-size: 20px;
  font-family: Lustria, Hind Madurai, sans-serif;
}

.navbar {
  overflow: hidden; 
  background-color: #58148E; /* Dark purple */
}

/* styles the navigation bar links */
.navbar a {
  float: right;
  display: block;
  color: #F7EBFD; /* light purple */
  text-align: center;
  padding: 16px 24px;
}

/* for collapsing sections of text */ 
summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  font-size: 2em;
}


/* puts a box around table of contents for tutorials */ 
.toc {
 border: 4px solid black;
 margin: 0px;
 padding-left: 20px; 
 width: 300px;
}

/* styles the links in table of contents for tutorials */
a { 
  text-decoration: none; 
  color: #58148E;
} 

/* changes color to lighter purple when hovered over */
.navbar a:hover {
  background-color: #CB5DF1;
  color: black;
}

/* if an item is too long for the row its on, it auto goes to the next row */ 
.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 80%; /* it should take up 80% of the row */
  background-color: #F7EBFD; /* light purple */
  padding: 20px;
}

.container {
 display: flex;
 align-items: center; 
 column-gap: 20px;
}

/* for images containers */

.image-container{
  background-color:#EABFFA; 
  width: 80px; 
  height: 80px;
  position: relative;
  border: 5px solid #EABFFA;
}
.image-container img {
  width: 100%;
  height: 100%;
} 

/* the footer in every page */
.footer {
  padding: 2px; 
  padding-left:20px;
  text-align: left; 
  background: #461873; /* dark purple */
  font-size: 16px;
}
